{% extends "base.html" %}

{% block content %}

    <h2>Things You Blogged About</h2>
    <form method='post'>
        <label href= '/new_post'> Submit a New Post?</label>
    </form>



    {% if blog|length == 0 %}
    <p>No Blog Posts Yet</p>
    
    {% else %}

        <ul>
            {% for blog in blogs %}
            <li>{{blogs.title}}</li>
            <form method="POST" style="display:inline-block;">
                <input type="hidden" name="task-id" value="{{task.id}}" />
        </ul>
            {% endfor %}


{% endblock %}